* text=auto eol=lf

*.ps1  text eol=crlf
*.psm1 text eol=crlf
*.bat  text eol=crlf

*.sh   text eol=lf
*.py   text eol=lf
*.ipynb -text
*.yaml text eol=lf
*.yml  text eol=lf
*.json text eol=lf
*.md   text eol=lf
*.csv  text eol=lf
